APP_NAME=socialtokenizator
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost

LOG_CHANNEL=stderr
LOG_LEVEL=info

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=socialtokenizator
DB_USERNAME=stk
DB_PASSWORD=

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=true

CACHE_STORE=file
QUEUE_CONNECTION=sync

FILESYSTEM_DISK=r2

R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET=
R2_ENDPOINT=
R2_PUBLIC_URL=
R2_REGION=auto

AUTH_METHOD=none

ACCOUNT_LOGIN=
ACCOUNT_PASSWORD=
RECAPTCHA_CLIENTID=
RECAPTCHA_CLIENTSECRET=

KEYCLOAK_BASE_URL=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=
KEYCLOAK_REDIRECT_URI=
KEYCLOAK_EMAIL_ACCOUNT=
